@charset "utf-8";

/* visual */
#visual {
  position: relative;
}

#visual:hover img {
  filter: brightness(1.1);
}

#visual img {
  width: 100%;
  border-radius: 5px;
}

#visual div {
  color: white;
  text-align: center;
  text-shadow: 0px 0px 2px var(--text-color-dred);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: bvi 1.2s linear;
}

@keyframes bvi {
  0% {
    opacity: 0;
    top: -50%;
  }
  50% {
    opacity: 1;
    top: 50%;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#visual div h2 {
  font-size: 45px;
  margin-bottom: 30px;
}

#visual div p {
  font-size: 18px;
  margin-top: 15px;
}

/* what is cider */
#wcider {
  margin-top: 250px;
  overflow: visible;
}

#wcider ul {
  border-top: 3px solid var(--point-color-yellow);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 5;
}

#wcider ul li:first-child {
  width: 50%;
  color: var(--text-color-dred);
  letter-spacing: 1px;
}

#wcider ul li:last-child {
  width: 30%;
}

#wcider ul li img {
  margin-top: -25%;
  width: 100%;
  border-radius: 5px;
  position: relative;
  z-index: 15;
}

#wcider ul li img:hover {
  filter: brightness(1.1);
  box-shadow: 3px 3px 3px var(--point-color-pink);
}

#wcider ul li h3 {
  display: none;
  margin-bottom: 15%;
  font-size: 55px;
  animation: ud 1s linear;
}

#wcider.scon ul li h3 {
  display: block;
}

@keyframes ud {
  0% {
    transform: translateY(-250px);
  }
  50% {
    transform: translateY(15px);
  }
  75% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(15px);
  }
}

#wcider ul li h4 {
  text-align: right;
  border-bottom: 3px solid var(--point-color-pink);
  border-radius: 5px;
  font-size: 45px;
  opacity: 0;
  transition: opacity 1s linear;
}

#wcider.scon ul li h4 {
  opacity: 1;
}

#wcider p {
  margin-top: 30px;
  padding: 5%;
  border-bottom: 3px solid var(--point-color-yellow);
  font-size: 20px;
  line-height: 35px;
  color: var(--text-color-green);
}

/* dancing cider company */
#dcco {
  perspective: value;
}

#dcco h2 {
  font-size: 80px;
  color: var(--text-color-dred);
  text-transform: uppercase;
  perspective: 100px;
  transform: rotateY(180deg);
  opacity: 0;
  transition: transform 1.5s;
}

#dcco.scon h2 {
  transform: rotateY(0deg);
  opacity: 1;
}

#dcco .logos {
  margin-bottom: 80px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

#dcco .logos .glogo {
  height: 90%;
}

#dcco .logos img {
  padding: 15px;
  box-sizing: border-box;
  height: 100%;
  box-shadow: 0px 0px 5px #ccc;
}

#dcco .logos img:hover {
  box-shadow: 0px 0px 5px black;
}

#dcco p {
  margin: 50px auto;
  width: 80%;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}

#dcco .dcimg {
  margin: 150px auto 100px;
  width: 65%;
  height: 73vh;
  position: relative;
  z-index: 5;
}

#dcco .dcimg .box {
  width: 100%;
  height: 120%;
  border: 3px solid var(--point-color-red);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 1s;
}

#dcco.scon2 .dcimg .box {
  width: 65%;
}

#dcco .dcimg img {
  width: 100%;
  height: 100%;
}

/* how to enjoy */
#hte {
  margin-bottom: 150px;
  /* text-align: right; */
  overflow: visible;
}

#hte .enjoy {
  margin: 150px auto;
  padding: 30px;
  width: 80%;
  border-top: 3px solid var(--point-color-yellow);
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#hte .enjoy li {
  width: 30%;
}

#hte .enjoy li h3 {
  margin-bottom: 20px;
  font-size: 25px;
}

#hte .enjoy li:nth-child(1) h3 i {
  margin-left: 15px;
  color: #fff;
  text-shadow: 0px 0px 15px #01ddc7;
  font-size: 60px;
  /* #D90404 */
}

#hte .enjoy li:nth-child(2) h3 i {
  margin-left: 10px;
  color: #d90404;
  text-shadow: 1px 1px 1px var(--text-color-dred);
  font-size: 60px;
}

#hte .enjoy li p {
  height: 36px;
}

#hte .enjoy li:nth-child(3) {
  margin-top: -10%;
}

#hte .enjoy li img {
  width: 100%;
  border-radius: 5px;
  transform: rotate(360deg);
  transition: transform 0.5s linear;
}

#hte.scon .enjoy li img {
  transform: rotate(0deg);
}

#hte > h3 {
  margin: 0 auto;
  padding: 15px 0;
  width: 300px;
  border-top: 10px double var(--point-color-red);
  border-bottom: 10px double var(--point-color-red);
  border-radius: 15px;
  font-size: 30px;
  color: var(--text-color-dred);
  text-align: center;
}

#hte > h3 i {
  color: #aaa;
  text-shadow: 0px 0px 1px #555;
  animation: jump 0.5s linear infinite;
}

@keyframes jump {
  0% {
    transform: translateY(-3px);
  }
  25% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-3px);
  }
  75% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

#hte > h3 span {
  margin: 0 6px;
}

#hte .foodp {
  margin-top: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

#hte .foodp > li {
  width: 45%;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
}

#hte .foodp > li:first-child {
  border: 3px solid var(--point-color-yellow);
  background-color: var(--point-color-yellow);
}

#hte .foodp > li:last-child {
  border: 3px solid var(--point-color-ygreen);
  background-color: var(--point-color-ygreen);
}

#hte .foodp > li h4 {
  padding: 15px 0;
  font-size: 25px;
  color: #fff;
}

#hte .foodp li div {
  width: 100%;
  height: 45vh;
  cursor: pointer;
  position: relative;
}

#hte .foodp li div img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 5px 5px;
  object-fit: cover;
}

#hte .foodp > li:hover {
  box-shadow: 0px 0px 10px var(--text-color-green);
}

#hte .foodp > li:hover div {
  background-color: #fff;
}

#hte .foodp > li:hover div img {
  opacity: 0.5;
}

#hte .foodp div p {
  width: 85%;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

#hte .foodp > li:hover div p {
  opacity: 1;
}

/* 반응형 */
/* ------------------pc-------------------*/
@media (min-width: 1200px) {
}

/* ------------------tap-------------------*/
@media (min-width: 768px) and (max-width: 1200px) {
  /* visual */
  #visual div {
    animation: bvi 1s linear;
  }

  #visual div h2 {
    font-size: 35px;
    margin-bottom: 20px;
  }

  #visual div p {
    font-size: 16px;
    margin-top: 10px;
  }

  /* what is cider */
  #wcider {
    margin-top: 150px;
  }

  #wcider ul li h3 {
    margin-bottom: 10%;
    font-size: 40px;
    animation: ud 0.8s linear;
  }

  #wcider ul li h4 {
    font-size: 30px;
    transition: opacity 0.8s linear;
  }

  #wcider p {
    margin-top: 15px;
    padding: 3%;
    font-size: 18px;
    line-height: 30px;
  }

  /* dancing cider company */

  #dcco h2 {
    font-size: 60px;
    transition: transform 1s;
  }

  #dcco .logos {
    margin-bottom: 50px;
    height: 100px;
  }

  #dcco .logos .glogo {
    height: 95%;
  }

  #dcco p {
    margin: 30px auto;
    width: 90%;
    font-size: 18px;
    line-height: 30px;
  }

  #dcco .dcimg {
    margin: 130px auto 100px;
    width: 75%;
    height: 45vh;
  }

  #dcco .dcimg .box {
    transition: width 0.8s;
  }

  #dcco.scon2 .dcimg .box {
    width: 60%;
  }

  /* how to enjoy */
  #hte {
    margin-bottom: 100px;
  }

  #hte .enjoy {
    margin: 100px auto 80px;
    padding: 10px 0 0 10px;
    width: 90%;
  }

  #hte .enjoy li h3 {
    margin-bottom: 15px;
    font-size: 20px;
  }

  #hte .enjoy li h3 i {
    font-size: 40px !important;
  }

  #hte .enjoy li:nth-child(3) {
    margin-top: -8%;
  }

  #hte > h3 {
    padding: 10px 0;
    width: 270px;
    font-size: 25px;
  }

  #hte .foodp {
    margin: 50px auto;
    width: 90%;
    display: block;
  }

  #hte .foodp > li {
    width: 100%;
    margin-top: 30px;
  }

  #hte .foodp > li h4 {
    font-size: 20px;
  }

  #hte .foodp li div {
    height: 38vh;
  }
}

/* ------------------mobile-------------------*/
@media (max-width: 768px) {
  /* visual */
  #visual div {
    width: 90%;
  }

  #visual div h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  #visual div p {
    font-size: 12px;
    margin-top: 5px;
  }

  /* what is cider */
  #wcider {
    margin-top: 100px;
  }

  #wcider ul li img {
    margin-top: -20%;
  }

  #wcider ul li h3 {
    margin-bottom: 8%;
    font-size: 23px;
    animation: ud 0.5s linear;
  }

  #wcider ul li h4 {
    font-size: 18px;
    transition: opacity 0.5s linear;
  }

  #wcider p {
    margin-top: 10px;
    padding: 3%;
    font-size: 12px;
    line-height: 20px;
    color: var(--text-color-green);
  }

  /* dancing cider company */
  #dcco h2 {
    font-size: 35px;
    transition: transform 0.8s;
  }

  #dcco .logos {
    margin-bottom: 20px;
    height: 80px;
  }

  #dcco .logos .glogo {
    height: 95%;
  }

  #dcco .logos img {
    padding: 10px;
  }

  #dcco p {
    margin: 20px auto;
    width: 90%;
    font-size: 14px;
    line-height: 20px;
  }

  #dcco .dcimg {
    margin: 80px auto 60px;
    width: 85%;
    height: 35vh;
  }

  #dcco .dcimg .box {
    height: 115%;
  }

  #dcco.scon2 .dcimg .box {
    width: 55%;
  }

  /* how to enjoy */
  #hte {
    margin-bottom: 80px;
  }

  #hte .enjoy {
    margin: 40px auto;
    padding: 15px 10px;
    width: 90%;
    text-align: center;
  }

  #hte .enjoy li {
    width: 49%;
  }

  #hte .enjoy li h3 {
    margin-bottom: 15px;
    font-size: 20px;
  }

  #hte .enjoy li h3 i {
    display: block;
    margin: 15px 0;
    margin-left: 0px !important;
    font-size: 50px !important;
  }

  #hte .enjoy li p {
    font-size: 14px;
  }

  #hte .enjoy li:nth-child(3) {
    display: none;
  }

  #hte > h3 {
    padding: 10px 0;
    width: 200px;
    border-top: 8px double var(--point-color-red);
    border-bottom: 8px double var(--point-color-red);
    font-size: 18px;
  }

  #hte .foodp {
    margin: 30px auto;
    width: 95%;
    display: block;
  }

  #hte .foodp > li {
    width: 100%;
    margin-top: 20px;
  }

  #hte .foodp > li h4 {
    font-size: 16px;
  }

  #hte .foodp li div {
    height: 30vh;
  }
}
